.background {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1063px;
    margin: 0 auto;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.logo-img {
    width: 46px;
    height: 44px;
    background-image: url(img/logo.png);
    float: left;
}

.logo:hover .logo-text{
    color: #f26522;
}
.logo:hover .logo-img {
    background-image: url(img/logo-hover.png);
}



.logo {
    margin: 49px 0;
    float: left;
    width: 151px;
}

.logo-text {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}



span {
    font-size: 18px;
    display: block;
}

.info-number {
    float: right;
    color: white;
    margin: 57px 0 0 0;
    font-size: 18px;
}

.gallery-item {
    float: left;
    margin-right: 70px;
    margin-bottom: 30px;
    text-decoration: none;
}

.no-margin{
    margin-right: 0;
}

.website-items {
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 22px;
}

.website-items:hover {
    color: #f26522;
}

.gallery {
    position: relative;
}

.into-text-item {
    position: absolute;
    top: 0;
    border: 1px;
    width: 307px;
    height: 63px;
    background-color: #f26522;
    opacity: 0;
}

.gallery-item:hover .into-text-item {
    opacity: 1;
    top: 138px;
    transition: 0.8s;
    background-image: url(img/Arrow@1X.png);
    background-repeat: no-repeat;
    background-position-x: 283px;
    background-position-y: 36px;
}

.text-from {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 10px;
    color: white;
    text-align: left;
    position: relative;
    top: 16px;
    left: 22px;

}

.text-fifty {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 20px;
}

.text-details {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: white;
    text-align: right;
    position: absolute;
    right: 30px;
    top: 34px;
}

.copyright {
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}
.into-text {
    position: relative;
}